/*MOBILE CSS*/
@import "mobile.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

/*PRODUK*/
.detail-product {
	text-decoration: none;
	color: black;
}

.text-deco-none {
	text-decoration: none;
	color: black;
}

.detail-product .card:hover{
	-webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.container-img-product img {
	max-width: 100%;
	height: 200px;
	object-fit: cover;
}

.container-card-text p {
	height: 60px;
}

.slider-for .container-img-detail-product img {
	width: 100%;
	height: 460px;
	object-fit: cover;
}

.slider-nav .container-img-detail-product img {
	width: 100%;
	height: 100px;
	object-fit: cover;
	padding: 0 10px;
}


/*DETAIL PRODUCT*/


/* AUTH */

form h1.auth {
	font-size: 22px;
}

/* CART*/

section.cart img{
	width: 77px;
	height: 77px;
	object-fit: cover;
}

section.cart p, section.cart small{
	font-size: 15px;
}

section.cart input {
	width: 50px;
}

/* order-complete */

img.order-complete {
	width: 150px;
	height: auto;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	/*DETAIL PRODUCT*/
	#section-detail-product h2.title-product {
	font-size: 18px;
	}

	#section-detail-product h3.price-product {
		font-size: 22px;
	}
}